@font-face
{
	font-family: 'beth';
	src:url('fonts/BethEllen/BethEllen.otf');
}

@font-face
{
	font-family: 'exo';
	src:url('fonts/exo/Exo.otf');
}


@font-face
{
	font-family: 'exobold';
	src:url('fonts/exo/Exo2.otf');
}